<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		.box{
			width:500px;
			height:500px;
			border: 1px solid red;
		}
	</style>
</head>
<body>
<pre>
*-------------------------------------------------------------*
|      我     |            |                 |                |
*-------------------------------------------------------------*
</pre>

<div class="box">

</div>
</body>
</html>

<script type="text/javascript" src="http://studygolang.com/static/js/libs/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	var new_ele  = $('<div style="position: absolute;border:1px solid red;width:100px;height:100px;">aaa<div>')
	var count = 1;
	$('.box').mousedown(function(){
		 // new_ele = 
		$(this).append(new_ele)
		console.info($(this))
		console.info(count++)
	})
	$('.box').mousemove(function(e){
		 new_ele.Text(e.pageX + ", " + e.pageY);
	})
	
})
</script>